# Database (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=autorental_db
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/autorental_db?schema=public"

# Backend
PORT=5001
JWT_SECRET=super_secret_jwt_key_nhom04_2026
JWT_EXPIRES_IN=7d

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:5001/api/v1
